{{page-title "Loopback3"}}
      <body class="text-center vsc-initialized">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
          </header>
    
          <main class="inner cover">
            <h1 class="cover-heading">To Be Done.</h1>
            <p class="lead">To Be Done is a simple yet effective To Do List using EmberJS and Loopback3</p>
            <p class="lead">
              <LinkTo @route="login" class="btn btn-lg btn-secondary">Login</LinkTo>
            </p>
          </main>
    
          <footer class="mastfoot mt-auto">
            <div class="inner">
              <p>Simple Template</p>
            </div>
          </footer>
        </div>
       </body>  

{{outlet}}